.form-control,
.input-control {
  background-color: var(--body-hover-colour);
  color: var(--control-text-colour);
  border: none !important;
  padding: 1rem;
  height: 100%;

  &:is(input, select) {
    box-shadow: none !important;
    &:not(:is(select)) {
      border-width: 0 0 1px 0 !important;
      border-bottom: solid !important;
      border-color: var(--accent-colour) !important;
    }

    &:hover {
      background-color: oklch(from var(--body-hover-colour) calc(l * 1.1) c h);
    }

    &:active,
    &:focus {
      color: var(--text-colour);
      background-color: var(--body-hover-colour) !important;
      &:not(:is(select)) {
        border-color: var(--primary) !important;
        border-color: var(--primary) !important;
      }
    }

    transition-property: border-color;
  }

  transition-property: background-color;
  transition-duration: var(--transition-duration);

  &::placeholder {
    color: var(--text-muted);
  }
}

.form-group.row {
  > label {
    line-height: 2;
  }
}

.scraper-menu .dropdown-menu .scraper-filter-container {
  background-color: transparent;
}

.invalid-feedback {
  margin: unset;
}

.react-select__placeholder {
  color: var(--text-muted) !important;
}
div.react-select__control {
  background-color: var(--body-hover-colour);
  border-width: 2px;
  border-color: transparent;
  &:hover {
    border-color: transparent;
  }
}
div.react-select__menu,
div.dropdown-menu {
  background-color: var(--body-hover-colour);
  padding: 1rem 0.5rem;
  gap: 0.5rem;
}

.react-datepicker-wrapper {
  > * {
    height: 100%;
  }
  button {
    height: 100%;
  }
}

select.form-control {
  padding-right: 2rem;
  appearance: none;
  background: none;
}

div:has(> select.form-control:only-child) {
  position: relative;
  &::after {
    transition: transform 0.2s;
    pointer-events: none;
    position: absolute;
    background-color: var(--control-text-colour);
    height: 100%;
    aspect-ratio: 1/1.5;
    right: 0;
    top: 0;
    content: "";
    --icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M300.3 440.8C312.9 451 331.4 450.3 343.1 438.6L471.1 310.6C480.3 301.4 483 287.7 478 275.7C473 263.7 461.4 256 448.5 256L192.5 256C179.6 256 167.9 263.8 162.9 275.8C157.9 287.8 160.7 301.5 169.9 310.6L297.9 438.6L300.3 440.8z"/></svg>');
    mask-image: var(--icon);
    -webkit-mask-position-x: 80%;
    -webkit-mask-position-y: 50%;
    mask-composite: exclude;
    mask-repeat: no-repeat;
    mask-size: 60%;
    mask-position: center;
  }
  &:has(select:focus)::after {
    transform: rotate(180deg);
  }
}

.pagination .btn-group {
  background-color: var(--accent-colour);
}
