.form-control,
.input-control {
	background-color: var(--body-hover-colour);
	color: var(--control-text-colour);
	border: none !important;
	padding: 1rem;
	height: 100%;

	&:is(input, select) {
		box-shadow: none !important;
		&:not(:is(select)) {
			border-width: 0 0 1px 0 !important;
			border-bottom: solid !important;
			border-color: var(--accent-colour) !important;
		}

		&:hover {
			background-color: oklch(from var(--body-hover-colour) calc(l * 1.1) c h);
		}

		&:active,
		&:focus {
			background-color: var(--body-hover-colour) !important;
			&:not(:is(select)) {
				border-color: var(--primary) !important;
				border-color: var(--primary) !important;
			}
		}

		transition-property: border-color;
	}

	transition-property: background-color;
	transition-duration: var(--transition-duration);

	&::placeholder {
		color: var(--text-muted);
	}
}

.form-group.row {
	> label {
		line-height: 2;
	}
}

.invalid-feedback {
	margin: unset;
}

.react-select__placeholder {
	color: var(--text-muted) !important;
}
div.react-select__control {
	background-color: var(--body-hover-colour);
	border-width: 2px;
	border-color: transparent;
	&:hover {
		border-color: transparent;
	}
}
div.react-select__menu,
div.dropdown-menu {
	background-color: var(--body-hover-colour);
	padding: 1rem 0.5rem;
	gap: 0.5rem;
}

.react-datepicker-wrapper {
	> * {
		height: 100%;
	}
	button {
		height: 100%;
	}
}
