nav {
  &.top-nav {
    padding: 0rem 1rem;
    height: 4rem;
    div {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .btn {
      font-weight: 600;
      font-size: 1.125rem;
      &:is(a):hover {
        background: none !important;
        border-color: none !important;
        box-shadow: none !important;
      }
      &:is(a).active {
        background: none !important;
        border-color: none !important;
        box-shadow: none !important;
        color: var(--primary) !important;
      }
    }
  }
  .navbar-nav {
    > div:has(> a.active) {
      border-bottom: 2px solid var(--primary);
    }

    > div > a {
      padding-left: 2px !important;
    }
  }
  &.navbar-expand-xl .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.nav-pills {
  .nav-link {
    color: var(--control-text-colour);
    &.active {
      background-color: var(--accent-colour) !important;
    }
    &:hover {
      color: var(--text-colour);
    }
  }
}

.nav-tabs {
  .nav-link {
    color: var(--control-text-colour);
    &:hover {
      color: var(--text-colour);
      border-color: transparent;
    }
    &.active {
      background-color: transparent;
      color: var(--primary);
      &:hover {
        border-color: var(--primary);
      }
    }
  }
}
